{
    "presets": [
        "@babel/preset-env",
        "@babel/typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ],

    "env": {
        "es5": {
            "presets": [[
                "@babel/preset-env"
            ]]
        },
        "esm": {
            "presets": [[
                "@babel/preset-env",
                {
                    "targets":
                    {
                        "esmodules": true
                    }
                }
            ]]
        }
    }
}
